<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ConnDB" connectionString="SERVER=7jjz.net;PORT=3306;DATABASE=jjzahost_hajjhackathon;UID=jjzah_hajj;PASSWORD=Lrz%5d53;CHARSET=utf8;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" defaultLanguage="c#" />
    <httpRuntime targetFramework="4.5.2" />
    <customErrors mode="Off" />
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <globalization fileEncoding="utf-8" culture="ar-SA" uiCulture="ar-SA" />
    <sessionState timeout="60" />
  </system.web>
</configuration>