<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="ConnDB" connectionString="SERVER=7jjz.net;PORT=3306;DATABASE=jjzahost_hajjhackathon;UID=jjzah_hajj;PASSWORD=Lrz%5d53;CHARSET=utf8;" providerName="MySql.Data.MySqlClient"/>
    <!--<add name="ConnDB" connectionString="Server=MYSQL7001.site4now.net;Database=db_a3eaa5_db;Uid=a3eaa5_db;Pwd=a123321a;" providerName="MySql.Data.MySqlClient"/>-->
  </connectionStrings>
  <appSettings>
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.web>

    <customErrors mode="Off"/>
    
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>

  </system.web>

</configuration>